body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    margin: 50px auto 0;
    line-height: 2;
}

h1, h2 {
    color: #66BFBF;
}

h3, a {
    color: #11999E;
}

h2, h3 {
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-size: 2rem;
    font-weight: normal;
}

p {
    color: #40514E;
}

/* Experimenting with the box-sizing property */
/* .box1 {
    box-sizing: border-box;
    margin: 50px;
    padding: 50px;
    border: 10px solid black;
    width: 200px;
} */

.middle-container, .bottom-container {
    text-align: center;
}

.pro {
    text-decoration: underline;
}

.top-container {
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.profile {
    margin-top: 100px;
}

.profile-picture {
    width: 200px;
    border-radius: 100%;
}

.profile p {
    width: 40%;
    margin: 0 auto;
    line-height: 2;
}

.skill-row {
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}

.guitar {
    width: 25%;
    float: left;
    margin-right: 35px;
}

.timeline {
    width: 30%;
    float: right;
    margin-left: 30px;
}

/* .guitar-description {
    clear: left;
}

.timeline-description {
    clear: right;
} */

hr {
    border-color: lightgray;
    height: 0;
    border-style: dotted none none;
    border-width: 7px;
    width: 5%;
    margin: 100px auto;
}

.contact-me {
    max-width: 40%;
    margin: 100px auto;
    line-height: 2;
}

.contact-me p {
    margin-bottom: 50px;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4,  #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4,  #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4,  #11999e);
    background-image: -o-linear-gradient(top, #11cdd4,  #11999e);
    background-image: linear-gradient(to bottom, #11cdd4,  #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
background: #30e3cb;
background-image: -webkit-linear-gradient(top, #30e3cb,  #2bc4ad);
background-image: -moz-linear-gradient(top, #30e3cb,  #2bc4ad);
background-image: -ms-linear-gradient(top, #30e3cb,  #2bc4ad);
background-image: -o-linear-gradient(top, #30e3cb,  #2bc4ad);
background-image: linear-gradient(to bottom, #30e3cb,  #2bc4ad);
text-decoration: none;
}

.bottom-container {
background-color: #66BFBF;
padding: 50px;
}

.bottom-container a {
    text-decoration: none;
    padding: 0 20px 0;
}

.bottom-container p {
    color: #EAF6F6;
    font-size: 0.8rem;
    margin-top: 40px;
}